body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0;
}
.color-changer {
  color: orange;
}

/* Navigation */
.navigation {
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
  background: #d8a90e;
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
}
.navigation h1,
.navigation nav {
  display: inline-block;
}
.main-nav {
  width: 1200px;
  text-align: right;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  display: inline-block;
}
.nav-item {
  text-decoration: none;
  color: rgb(4, 39, 11);
  font-weight: bold;
  margin-left: 58px;
  font-size: 25px;
}
.nav-item:hover {
  color: darkolivegreen;
  font-size: 28px;
}
.brand:hover {
  cursor: pointer;
  color: white;
}

/* end of navigation bar */

/* first content of page */
.main-heading {
  font-weight: 900;
  font-size: 80px;
  margin: 0;
  color: gray;
}
h1 {
  font-size: 40px;
}

.flexible-content {
  display: flex;
  margin-bottom: 100px;
  padding-top: 100px;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}

.starter-section {
  margin-top: 10%;
  margin-left: 5%;
}
.starter-section-paragraph {
  margin: 22px 0 55px;
  font-size: 20px;
}
.order-button {
  text-decoration: none;
  background: linear-gradient(rgb(194, 100, 23), rgb(255, 81, 0));
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
}
.order-button:hover {
  color: rgba(255, 123, 0, 0.877);
  background: linear-gradient(white, gray);
}
.image-sizing {
  width: 80%;
  /* margin-top: 50px; */
}

/* end of first section */

/* about section */

.background {
  background: url("images/7.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background .image-sizing {
  padding-top: 100px;
  padding-left: 25%;
  height: 720px;
  width: auto;
}
.about {
  margin: 80px;
  padding: 50px;
}
.about h1 {
  margin-bottom: 32px;
}
.about .starter-section-paragraph {
  margin-bottom: 112px;
  font-weight: 300;
}

/* end of about section */

/*  start of recepies section */
.recipies-header {
  text-align: center;
}
.recipies-paragraph {
  margin: 20px 600px;
  word-spacing: 2px;
  text-align: center;
  font-size: 18px;
}
.recipes {
  width: 100%;
  text-align: center;
}
.recipes p {
  text-align: left;
  padding: 0 16px;
}
.recipes-flexible-content {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.card {
  width: 21%;
  box-shadow: 10px 10px 40px gray;
  /* padding: 0 20px; */
  border-radius: 20px;
  margin-left: 40px;
}
.card img {
  width: 360px;
  height: 310px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.card-title {
  text-align: left;
  margin: 0 16px;
  font-weight: bold;
}

/* end of recepies section */
/* Review section */
/* #customer-review {
  width: 100%;
} */
.reviews {
  background: rgba(98, 8, 8, 0.863);
  margin: 20px;
  box-shadow: 2px 1px 3px 1px grey;
  border-radius: 20px;
}
.review {
  width: 30%;
  text-align: center;
  margin: 15px;
}
.review small {
  color: #fff;
  font-size: 32px;
  display: inline-block;
  font-weight: 800;
}
.review-img {
  height: 280px;
  width: 260px;

  /* border: 3px solid gold; */
  border-radius: 30%;
}
.review-details {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 90px;
  color: rgba(110, 110, 110, 0.993);
}

/* end of review section */

/* footer */

.footer {
  background: rgb(4, 19, 58);
  padding: 5px;
  color: #fff;
  text-align: center;
}
.gray-color {
  color: rgb(80, 74, 74);
}
.footer-head {
  padding: 40px 0 10px;
  font-size: 40px;
  margin-bottom: 8px;
  word-spacing: 16px;
}
.footer p {
  color: silver;
  font-weight: 300;
  padding-bottom: 20px;
}
/* end of footer */
